{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body>

    <div class = "ordering">
        <h5>Please choose your option</h5>
    </div>
    <div class="card">
        <img src="https://play-lh.googleusercontent.com/EEQ6z_3i9Co5ZMdp7qCSGiFd9ionjxLz3rMmDWVO1wDwUNi-EaEZFm4fyG5GWMrt5w" style="width:100%">
        <h1>Community version</h1>
        <p class="price">Only 150000 VND</p>
          <div class="dropdown">
            <button class="dropbtn">Buy now</button>
            <div class="dropdown-content">
                {% for i in range(0,countCom[0] ) %}
                <a href="/choose/{{community[i][0]}}">{{community[i][1]}}</a>
                {% endfor %}
            </div>
          </div>

        
  
      </div>
  
  
      <div class="card1">
        <img src="https://play-lh.googleusercontent.com/EEQ6z_3i9Co5ZMdp7qCSGiFd9ionjxLz3rMmDWVO1wDwUNi-EaEZFm4fyG5GWMrt5w"  style="width:100%">
        <h1>Professional version</h1>
        <p class="price">Only 300000 VND</p>
          <div class="dropdown1">
            <button class="dropbtn1">Buy now</button>
            <div class="dropdown1-content">
                
                {% for i in range(0,countPro[0] ) %}
                <a href="/choose/{{professional[i][0]}}">{{professional[i][1]}}</a>
                {% endfor %}
            </div>
          </div>
      </div>
</body>
{% endblock %}